h1{
    text-align: center;
    text-decoration: wavy red underline;
    letter-spacing: 5px;
    font-size: 50px;
    font-family: avant garde, didot,sans-serif;
}


h3{
    text-align: start;
    text-decoration: dotted pink line-through;
}

p{
    text-align: justify;
    font-weight: 500;
    line-height: 1.5;
    font-size: 15px;
}

h2{
    font-weight: 800;
    text-decoration: double blue overline;
    font-family: impact;
}

a{
    text-decoration: none;

}
